# Ambientes Virtuais
venv/
.venv/

# Variáveis de ambiente (Segurança)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Banco de dados local
*.sqlite3

# Node modules
node_modules/
dist/

# Pasta de mídia (fotos dos servidores)
backend/media/